// Theme Width.
$themeWidth: 1440px;

// Content Width.
$contentWidth: 880px;
$wideBlockWidth: 1120px;

// Fullwidth Template.
$contentFullwidth: 1328px;
$wideBlockFullwidth: 1440px;

// Theme Colors
$themeColors: (
	--primary-color              : #0890d0,
	--secondary-color            : #0068a0,
	--accent-color               : #00b0f8,
	--highlight-color            : #f33e3e,
	--light-gray-color           : #ebebeb,
	--gray-color                 : #606060,
	--dark-gray-color            : #202020,
	--text-color                 : #202020,
	--light-text-color           : rgba(0, 0, 0, 0.5),
	--light-background-color     : rgba(0, 0, 0, 0.05),
	--medium-background-color    : rgba(0, 0, 0, 0.15),
	--light-border-color         : rgba(0, 0, 0, 0.1),
	--medium-border-color        : rgba(0, 0, 0, 0.3),
	--page-background-color      : #fff,
	--link-color                 : #0890d0,
	--link-hover-color           : #0068a0,
	--button-color               : #202020,
	--button-text-color          : #fff,
	--button-hover-color         : #606060,
	--button-text-hover-color    : #fff,
	--header-bar-color           : #202020,
	--header-bar-text-color      : #fff,
	--header-bar-hover-color     : #909090,
	--header-color               : #202020,
	--header-text-color          : #fff,
	--header-hover-color         : #909090,
	--header-border-color        : rgba(255, 255, 255, 0.1),
	--title-color                : #202020,
	--title-hover-color          : #606060,
	--widget-title-color         : #202020,
	--widget-title-hover-color   : #606060,
	--widget-background-color    : #ebebeb,
	--footer-background-color    : #202020,
	--footer-text-color          : rgba(255, 255, 255, 0.5),
	--footer-link-color          : rgba(255, 255, 255, 0.95),
	--footer-link-hover-color    : rgba(255, 255, 255, 0.5),
	--footer-border-color        : rgba(255, 255, 255, 0.1),
);

// Theme Fonts
$baseFont: "Barlow", arial, helvetica, sans-serif;
$titleFont: "Barlow", arial, helvetica, sans-serif;
$themeFonts: (
	--text-font  : $baseFont,
	--title-font : $titleFont,
	--navi-font  : $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight : bold,
	--navi-font-weight  : normal,
);

// Text Transform.
$textTransform: (
	--title-text-transform : none,
	--navi-text-transform  : none,
);

// Line Height.
$lineHeight: (
	--text-line-height : 1.75,
	--title-line-height : 1.25,
);
