@media only screen and (min-width: 320px) {
	.site-title {
		@include font-size(26);
	}

	.entry-title {
		@include font-size(30);
	}
}

@media only screen and (min-width: 640px) {
	.site-title {
		@include font-size(28);
	}

	.entry-title {
		@include font-size(32);
	}

	.entry-content {
		@include font-size(17);
	}

	.entry-meta,
	.entry-tags,
	.more-link,
	.pagination {
		@include font-size(16);
	}
}

@media only screen and (min-width: 960px) {
	.site-title {
		@include font-size(30);
	}

	.site-description {
		@include font-size(14);
	}

	.entry-title {
		@include font-size(36);
	}
}

@media only screen and (min-width: 1280px) {
	.site-title {
		@include font-size(32);
	}

	.entry-title {
		@include font-size(40);
	}

	.entry-content {
		@include font-size(18);
	}

	.entry-meta,
	.entry-tags,
	.more-link,
	.pagination {
		@include font-size(17);
	}
}
