/* Group Block */
.wp-block-group.has-background {
	padding: 1.5rem;

	> .wp-block-group__inner-container > *:first-child {
		margin-top: 0;
	}

	> .wp-block-group__inner-container > *:last-child {
		margin-bottom: 0;
	}
}

/* Cover Block */
.wp-block-cover {
	padding: 1.5rem;

	> .wp-block-cover__inner-container > *:first-child {
		margin-top: 0;
	}

	> .wp-block-cover__inner-container > *:last-child {
		margin-bottom: 0;
	}
}
