@media only screen and (min-width: 400px) {
	.primary-menu-toggle .menu-toggle-text {
		display: inline-block;
		margin-left: 0.5rem;
	}
}

@media only screen and (min-width: 640px) {
	.main-navigation > ul {
		margin-top: 2rem;
	}
}

@media only screen and (min-width: 960px) {
	.primary-menu-toggle,
	.main-navigation .dropdown-toggle {
		display: none;
	}

	.main-navigation ul,
	.main-navigation ul ul {
		display: block;
	}

	.primary-navigation {
		display: flex;
		align-items: initial;
		margin: 2.5rem 0 0;
		padding: 0;
		width: 100%;
		border-top: 1px solid;
		@include border-color(--header-border-color);
	}

	#masthead .main-navigation > ul.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0;
		border-bottom: none;
	}

	.main-navigation > ul > li {
		padding: 0 1.25rem 0 0;
	}

	.main-navigation > ul > li > a {
		margin-top: -1px;
		padding: 1rem 0.5rem 1.25rem;
		border: none;
		border-top: 5px solid transparent;
	}

	.main-navigation > ul > li.current-menu-item > a {
		@include border-color(--header-text-color);
		text-decoration: none;
	}

	/* Dropdown Menus */
	.main-navigation ul ul {
		position: absolute;
		left: -999em;
		top: 100%;
		z-index: 99999;
		padding: 0.5rem;
		border: 1px solid;
		@include border-color(--header-border-color);
		border-top: 4px solid #202020;
		border-top: 4px solid var(--header-text-color);
		@include background(--header-color);
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		right: auto;
		left: 0;
	}

	.main-navigation ul ul li a {
		width: 16rem;
	}

	.main-navigation ul ul ul {
		right: -999em;
		margin-top: -1px;
		top: 0;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		right: auto;
		left: 100%;
	}

	.main-navigation ul ul li a,
	.main-navigation ul ul ul li a,
	.main-navigation ul ul ul ul li a {
		padding: 1rem;
		border: none;
	}

	/* Dropdown Icons */
	.main-navigation .menu-item-has-children > a > .icon,
	.main-navigation .page_item_has_children > a > .icon {
		position: relative;
		display: inline-block;
		left: 0.5rem;
		top: 0.1rem;
		width: 14px;
		height: 14px;
		@include fill(--header-text-color);
		transition: fill 0.15s ease;
	}

	.main-navigation ul ul .menu-item-has-children > a > .icon,
	.main-navigation ul ul .page_item_has_children > a > .icon {
		position: absolute;
		left: auto;
		right: 1em;
		top: 50%;
		margin-top: -0.5rem;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.main-navigation ul .menu-item-has-children > a:hover > .icon,
	.main-navigation ul .page_item_has_children > a:hover > .icon {
		@include fill(--header-hover-color);
	}
}
